@import '/src/styles.scss';

.pay-report {
    .list-section {
        .total-bar {
            p {
                color: red;
                font-size: 18px;
                span {
                    color: black;
                    font-size: 18px;
                }
            }
        }
    }
}