<section class="payment-terms-tab">
    <div class="container">
        <div class="row mt-4">
            <div class="col-12">
                <mat-form-field class="example-full-width w-50">
                    <mat-label>Payment Method</mat-label>
                    <input matInput placeholder="Choose Payment Method">
                </mat-form-field>
            </div>

            <div class="col-12 list">
                <mat-list role="list">
                    <mat-list-item role="listitem">PayPal</mat-list-item>
                    <mat-list-item role="listitem">Stripe</mat-list-item>
                    <mat-list-item role="listitem">Transferwise</mat-list-item>
                    <mat-list-item role="listitem">Xoom</mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</section>