@import '/src/styles.scss';

.driver-pay-modal{
    .top-head{
        h4{
            color: white;
            font-size: 17px;
            font-weight: 500;
            margin-bottom: 0px;
            border-radius: 30px;
            border: 1px solid #673ab7;
            background-color: #673ab7;
            text-align: center;
            padding: 4px 0;
        }
    }

    .rates{
        .left{
            p{
                color: black;
                font-size: 13px;
                margin-bottom: 0px;
                height: 52px;
                padding-top: 20px;
                span {
                    float: right;
                }
            }
            
        }
    }
    
    .total {
        p {
            margin-bottom: 0px;
            font-size: 17px;
            color: black;
            font-weight: 500;
            span {
                color: black;
                padding-left: 29%;
                font-weight: 500;
                font-size: 17px;            
            }
        }
    }

    .total-net {
        .total {
            p {
                margin-bottom: 0px;
                font-size: 17px;
                color: black;
                font-weight: 500;
                span {
                    color: red;
                    font-weight: 600;
                    padding-left: 11px;
                    font-size: 25px;
                }
            }
        }
    }
}