@import '/src/styles.scss';

.popup{
    .top-head{
        h4{
            color: black;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 0px;
        }
    }
    .rates{
        .left{
            p{
                color: black;
                font-size: 13px;
                margin-bottom: 0px;
                span {
                    float: right;
                }
            }
            
        }
    }
    .edit{
        h5{
            font-weight: 700;
            font-size: 13px;
        }
    }
    .total{
        float: right;
        p{
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 0px;
            span{
                color: #5e0b03;
            }
        }
        
    }


}