<div class="driver-pay-modal">
    <div class="row top-head">
        <div class="col-6">
            <h4>Driver/ Affiliate</h4>
        </div>

        <div class="col-6 text-right">
            <h4>Driver pay name</h4>
        </div>
    </div>

    <div class="row rates pt-5">
        <div class="col-7 pr-0">
            <div class="left">
                <p>
                    override auto-quote
                    <span>$124</span>
                </p>
                <p>
                    Admin (10.00%total)
                    <span>$65</span>
                </p>
                <p>
                    Gratuity (20.00% total)
                    <span>$40</span>
                </p>
            </div>
        </div>

        <div class="col-5">
            <div class="input">
                <mat-form-field class="example-full-width w-100">
                    <mat-label>Override</mat-label>
                    <input matInput placeholder="$124">
                </mat-form-field>
            </div>

            <div class="input">
                <mat-form-field class="example-full-width w-100">
                    <mat-label>Admin</mat-label>
                    <input matInput placeholder="$65">
                </mat-form-field>
            </div>

            <div class="input">
                <mat-form-field class="example-full-width w-100">
                    <mat-label>Gratuity</mat-label>
                    <input matInput placeholder="$40">
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="row total mt-3 mb-2 mx-0">
        <div class="col-12 text-right">
            <p>
                Total
                <span>$689</span>
            </p>
        </div>
    </div>

    <div class="row mis-discount">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="float-right mt-2">
                <div class="col-12">
                    <mat-form-field class="example-full-width w-100">
                        <!-- <mat-label>Miscellaneous</mat-label> -->
                        <input matInput placeholder="Miscellaneous +" value="">
                    </mat-form-field>
                </div>
    
                <div class="col-12">
                    <mat-form-field class="example-full-width w-100">
                        <!-- <mat-label>Edit</mat-label> -->
                        <input matInput placeholder="Discount -" value="">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div class="row total-net mt-4 mx-0">
        <div class="col-12 text-right">
            <div class="total">
                <p>
                    Total Net Pay:
                    <span>$689</span>
                </p>
            </div>
            <div class="save-btn mt-5">
                <button mat-raised-button color="primary" class="px-5">Save</button>
            </div>
        </div>
    </div>
</div>