<section class="create-invoices">
    <div class="container">
        <div class="invoice-inputs mt-4">
            <div class="row mt-3">
                <div class="col-3">
                    <mat-form-field class="example-full-width w-100">
                        <mat-label>Invoice #</mat-label>
                        <input matInput placeholder="Enter Invoice#" value="133">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="example-full-width  w-100">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="example-full-width  w-100">
                        <mat-label>Currency</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option value="usd">USD ($)</mat-option>
                            <mat-option value="eur">EUR (€)</mat-option>
                            <mat-option value="gbp">GBP	(£)</mat-option>
                            <mat-option value="jpy">JPY	(¥)</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field class="example-full-width w-100">
                        <mat-label>PO #</mat-label>
                        <input matInput placeholder="Enter PO #" value="">
                    </mat-form-field>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-4">
                    <mat-form-field class="example-full-width w-100">
                        <mat-label>Terms</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Due Upon Receipt</mat-option>
                            <mat-option value="option2">Receipt Undefined</mat-option>
                            <mat-option value="option3">Receipt Empty</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="example-full-width  w-100">
                        <mat-label>Allex</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Allex 1</mat-option>
                            <mat-option value="option2">Allex 2</mat-option>
                            <mat-option value="option3">Allex 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="example-full-width w-100">
                        <mat-label>Billing Contact</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Lauren, Jaffery</mat-option>
                            <mat-option value="option2">Elina, Cybex</mat-option>
                            <mat-option value="option3">Gian, Otex</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-2">
                    <p class="pt-3 pb-0">Bill To</p>
                </div>
                <div class="col-5">
                    <mat-form-field class="example-full-width w-100">
                        <input matInput placeholder="Enter Address" value="Henry / house# 1700 W Blancke St, Linden, 7869">
                    </mat-form-field>
                </div>
                <div class="col-5">
                    <mat-form-field class="example-full-width w-100">
                        <input matInput placeholder="Enter Contact no." value="+1 82 90903421">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="invoice-table mt-3">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100 table-striped">
                <!-- Checkbox Column -->
                <ng-container class="boxes" matColumnDef="checkbox">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox class="example-margin check-box"></mat-checkbox>
                    </td>
                </ng-container>
    
                <!-- Conf # Column -->
                <ng-container matColumnDef="conf">
                <th mat-header-cell *matHeaderCellDef>Conf #</th>
                <td mat-cell *matCellDef="let element">{{element.conf}}</td>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let element">{{element.date}}</td>
                </ng-container>
            
                <!-- Passenger Column -->
                <ng-container matColumnDef="passenger">
                <th mat-header-cell *matHeaderCellDef>Passenger</th>
                <td class="text-truncate" mat-cell *matCellDef="let element">{{element.passenger}}</td>
                </ng-container>
            
                <!-- Pickup Location Column -->
                <ng-container matColumnDef="pickup_location">
                <th mat-header-cell *matHeaderCellDef>Pickup Location</th>
                <td class="text-truncate" mat-cell *matCellDef="let element">{{element.pickup_location}}</td>
                </ng-container>
            
                <!-- Dropoff Location Column -->
                <ng-container matColumnDef="dropoff_location">
                <th mat-header-cell *matHeaderCellDef>Dropoff Location</th>
                <td class="text-truncate" mat-cell *matCellDef="let element">{{element.dropoff_location}}</td>
                </ng-container>
    
                <!-- Trip Column -->
                <ng-container matColumnDef="trip_total">
                    <th mat-header-cell *matHeaderCellDef>Trip</th>
                    <td class="text-truncate" mat-cell *matCellDef="let element">$ {{element.trip_total}}</td>
                </ng-container>
    
                <!-- Total Column -->
                <ng-container matColumnDef="total_due">
                    <th mat-header-cell *matHeaderCellDef>Total</th>
                    <td class="text-truncate" mat-cell *matCellDef="let element">$ {{element.total_due}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <mat-card class="mt-4 mat-elevation-z8">
            <div class="row bottom-section">
                <div class="col-5 left-section">
                    <div class="message">
                        <mat-form-field class="example-full-width w-100">
                            <mat-label>Customer Message</mat-label>
                            <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option value="option1">Message 1</mat-option>
                                <mat-option value="option2">Message 2</mat-option>
                                <mat-option value="option3">Message 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="description">
                        <mat-form-field class="example-full-width w-100">
                            <mat-label>Enter Description..</mat-label>
                            <textarea matInput placeholder="Description.."></textarea>
                        </mat-form-field>
                    </div>

                    <div class="notes">
                        <mat-form-field class="example-full-width w-100">
                            <mat-label>Invoice Notes..</mat-label>
                            <textarea matInput placeholder="Notes.."></textarea>
                        </mat-form-field>
                    </div>

                    <div class="btns">
                        <a class="my-3 w-100" mat-raised-button color="primary">
                            <mat-checkbox class="example-margin">Add To Message List</mat-checkbox>
                        </a>

                        <a class="w-100" mat-raised-button color="primary">Manage Cutomer Messages</a>
                    </div>
                </div>
                
                <div class="col-7 right-section">
                    <div class="row field total">
                        <div class="col-6">
                            <span class="label">Total:</span>
                        </div>
                        <div class="col-6">
                            <span class="amount">$0.00</span>
                        </div>
                    </div>
                    
                    <div class="row field discount mt-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width w-100">
                                        <mat-label>Discount</mat-label>
                                        <input matInput placeholder="Discount" value="0.0">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width w-100">
                                        <mat-label>Discount Type</mat-label>
                                        <mat-select>
                                            <mat-option value="option1">%</mat-option>
                                            <mat-option value="option2">%</mat-option>
                                            <mat-option value="option3">%</mat-option>
                                            <mat-option value="option4">%</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <span class="amount">$0.00</span>
                        </div>
                    </div>

                    <div class="row field finance mt-1">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width w-100">
                                        <mat-label>Finance Charge</mat-label>
                                        <input matInput placeholder="Discount" value="0.0">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width w-100">
                                        <mat-label>Charge Type</mat-label>
                                        <mat-select>
                                            <mat-option value="option1">%</mat-option>
                                            <mat-option value="option2">%</mat-option>
                                            <mat-option value="option3">%</mat-option>
                                            <mat-option value="option4">%</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <span class="amount">$0.00</span>
                        </div>
                    </div>

                    <div class="row field invoice mt-1">
                        <div class="col-6">
                            <span class="label">Invoice Total:</span>
                        </div>
                        <div class="col-6">
                            <span class="amount">$0.00</span>
                        </div>
                    </div>

                    <div class="row payments mt-3 field">
                        <div class="col-6">
                            <span class="label">Payments:</span>
                        </div>
                        <div class="col-6">
                            <span class="amount">$0.00</span>
                        </div>
                    </div>

                    <div class="row field dues mt-3">
                        <div class="col-6">
                            <span class="label">Total Dues:</span>
                        </div>
                        <div class="col-6">
                            <span class="amount">$0.00</span>
                        </div>
                    </div>
                    
                    <div class="row mt-4 btns justify-content-center">
                        <a mat-raised-button class="px-5 mr-2" color="warn">Cancel Transaction</a>
                        <a mat-raised-button class="px-5" color="primary">Save Changes</a>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</section>