@import '/src/styles.scss';

.affiliate-pay-report {
    .list-section {
        .total-bar {
            p {
                color: red;
                font-size: 18px;
                span {
                    color: black;
                    font-size: 18px;
                }
            }
        }
    }

    .total-net {
        .total {
            p {
                margin-bottom: 0px;
                font-size: 16px;
                font-weight: 500;
                color: black;
                span {
                    color: red;
                    font-weight: 600;
                    padding-left: 11px;
                    font-size: 26px;
                }
            }
        }
    }
}