<section class="settings-tab">
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-8 col-12">
                <div class="company-name">
                    <mat-form-field class="example-full-width w-100">
                        <mat-label>Comapny Name</mat-label>
                        <input matInput placeholder="Comapny Name">
                    </mat-form-field>
                </div>
                <div class="address">
                    <mat-form-field class="example-full-width w-100">
                        <mat-label>Address</mat-label>
                        <input matInput placeholder="Address">
                    </mat-form-field>
                </div>
                <div class="phone">
                    <mat-form-field class="example-full-width w-100">
                        <mat-label>Primary Phone</mat-label>
                        <input type="number" matInput placeholder="Primary Phone">
                    </mat-form-field>
                </div>
                <div class="email">
                    <mat-form-field class="example-full-width w-100">
                        <mat-label>Accounting Email</mat-label>
                        <input matInput placeholder="Accounting Email">
                    </mat-form-field>
                </div>
                <div class="website-url">
                    <mat-form-field class="example-full-width w-100">
                        <mat-label>Business Website URL</mat-label>
                        <input matInput placeholder="Business Website URL">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="add-img text-center">
                    <input type="file" id="img" name="img" accept="image/*">
                </div>
            </div>
        </div>
    </div>
</section>