<section class="settings">
    <div class="container">

        <mat-card class="my-4 mat-elevation-z2">
            <div class="row mx-0">
                <mat-tab-group class="w-100" animationDuration="0ms">
                    <mat-tab label="Settings">
                        <app-settings-tab></app-settings-tab>
                    </mat-tab>
                    <mat-tab label="Payment Terms">
                        <app-payment-terms-tab></app-payment-terms-tab>
                    </mat-tab>
                    <mat-tab label="Comments">
                        <app-comments-tab></app-comments-tab>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-card>

    </div>
</section>