<section class="paid-invoices-screen">
    <div class="container">
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100 mt-4 table-striped">

            <!-- Position Column -->
            <ng-container matColumnDef="invoice">
              <th mat-header-cell *matHeaderCellDef>Invoice#</th>
              <td class="text-truncate"  mat-cell *matCellDef="let element">{{element.invoice}}</td>
            </ng-container>
          
            <!-- Billing Contact Column -->
            <ng-container matColumnDef="billing_contact">
              <th mat-header-cell *matHeaderCellDef>Billing Contact</th>
              <td class="text-truncate" mat-cell *matCellDef="let element">{{element.billing_contact}}</td>
            </ng-container>
          
            <!-- Company Column -->
            <ng-container matColumnDef="company">
              <th mat-header-cell *matHeaderCellDef>Company</th>
              <td class="text-truncate" mat-cell *matCellDef="let element">{{element.company}}</td>
            </ng-container>
          
            <!-- Bill Date Column -->
            <ng-container matColumnDef="bill_date">
              <th mat-header-cell *matHeaderCellDef>Bill Date</th>
              <td mat-cell *matCellDef="let element">{{element.bill_date}}</td>
            </ng-container>

            <!-- Due Date Column -->
            <ng-container matColumnDef="due_date">
                <th mat-header-cell *matHeaderCellDef>Due Date</th>
                <td mat-cell *matCellDef="let element">{{element.due_date}}</td>
            </ng-container>

            <!-- Total Column -->
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef>Total</th>
                <td class="text-truncate" mat-cell *matCellDef="let element">$ {{element.total}}</td>
            </ng-container>

            <!-- btn Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td class="actions text-right" mat-cell *matCellDef="let element">
                    <button routerLink="/invoicing/record-payment" mat-icon-button color="primary" aria-label="Example icon button with a local_atm icon">
                        <mat-icon>local_atm</mat-icon>
                    </button>
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</section>