<section class="create-invoive">
    <div class="container">

        <mat-card class="my-4 mat-elevation-z2">
            <div class="row ml-0">
                <mat-tab-group animationDuration="0ms">

                    <mat-tab label="Create Invoices">
                        <app-create-invoices></app-create-invoices>
                    </mat-tab>

                    <mat-tab label="Receive Payments">Receive Payments</mat-tab>
                    <mat-tab label="Invoices">Invoices</mat-tab>
                    <mat-tab label="Closed Invoices">Closed Invoices</mat-tab>
                    <mat-tab label="Pending Transactions">Pending Transactions</mat-tab>
                </mat-tab-group>
            </div>
        </mat-card>

    </div>
</section>